// Font Weight
$light: 300
$normal: 500
$bold: 700

// Font Size
$xsmall: 1rem
$small: 1.5rem
$medium: 2rem
$large: 3rem

// Color Variables
$primary-color: #ff383B
$secondary-color: #B50C0F
$text-color: #140101
$background-color: #f8f8f8
$hover-color: #ff9999

// Night Mode Variables
$nightmode-primary: #0095ff
$nightmode-secondary: #0C52E8
$nightmode-background: #15202B
$nightmode-text: #ffffff

// Font
$font: "San Francisco", sans-serif
