// Color Variables
$primary-color: #ff383B
$secondary-color: #CC2D30
$text-color: #140101
$background-color: #f8f8f8
$hover-color: #ff9999

// Night Mode Variables
$nightmode-primary: #0095ff
$nightmode-secondary: #0C52E8
$nightmode-background: #15202B
$nightmode-text: #ffffff

// Font
$font: "San Francisco", sans-serif
