// Apple SF Font
@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

// Variables
@import variables

// Mixins
@import mixins

// Base Styles
html,
body
    +fullsize
    font-family: $font

*
    box-sizing: border-box

// Element reset
ul
    list-style-type: none
    
a
    text-decoration: none

// Margin and padding reset for h1, h2, p and ul
body,
h1,
h2,
p,
ul
    +reset

// h1 & h2 font styling
h1
    font-size: 2rem

h2
    font-size: 1rem
    font-weight: 500

// Container for split page
.container
    +flex-row-nowrap
    height: 100%

    // Left half & Right half
    .left,
    .right
        flex-basis: 50%

    // Left Half
    .left
        +flex-column-nowrap
        height: 100%
        overflow: hidden
        
        // Information box styling
        .infobox
            +flex-column-nowrap
            +flex-center
            width: 100%
            flex-grow: 1

            img
                @include size(10rem,10rem)
                border-radius: 50%

            h1
                line-height: $medium
                font-size: $medium
                font-weight: $bold

            a
                font-weight: $bold
                margin-top: .5rem
                padding: .5rem 3rem
                border-radius: .25rem

        .wrapper
            padding: .5rem 0 0 .5rem

        // Links to online profiles
        nav
            display: inline-flex
            +flex-end
            width: 100%
            padding-bottom: .25rem

            a
                +hover-grow
                font-size: $medium
                padding-right: 1rem
                &:first-child
                    font-size: 1.8rem
                    padding-bottom: .25rem

                &:nth-child(3), &:nth-child(4)
                    padding-bottom: .1rem

                &:last-child
                    padding-right: 2rem

    // Right half
    .right
        +flex-column-nowrap
        +fullsize
        section
            display: flex
            padding: 0 2rem 1rem 2rem

            h2
                flex-basis: 25%
                text-align: end
                padding-right: 1rem

            p,
            ul,
                flex-basis: 75%
                text-align: start

            ul
                li
                    padding-bottom: .5rem
                i
                    padding-right: .5rem
        .about
            margin-top: 3rem
            line-height: 2rem

        .experience-list
            +flex-column-nowrap
            flex-basis: 60%

        .misc
            +flex-row-nowrap
            justify-content: space-between
            margin-top: auto
            padding: 0 2rem 1rem 2rem
            font-size: 1rem

            .misc-left
                +hover-grow

            .misc-left, .misc-right
                padding: 0 .5rem 0 .5rem


// Mobile breakpoint style
@media only screen and (max-width: 1024px)
    .container
        +reset
        +flex-column-nowrap

        .left,
        .right
            flex-basis: 50%
            min-height: 100%

        .left
            .infobox
                img
                    @include size(8rem, 8rem)
                h1
                    line-height: $small
                    font-size: 1.25rem

            // .wrapper
            //     padding: 0 1rem 0 1rem
            nav
                a:last-child
                        padding-right: 1rem
        
        .right
            section
                padding: 0 .5rem 1rem .5rem
                +flex-row-nowrap

                ul,
                p
                    font-size: $xsmall
                    flex-basis: 75%
                    text-align: start

                h2
                    font-size: $xsmall
                    flex-basis: 25%
                    text-align: end
                    padding-right: .5rem

            .misc
                font-size: .75rem
                padding: 1rem 0 1rem .25rem

// Tablet and bigger styling
@media only screen and (min-width: 1025px)
    .container
        +reset
        +flex-row-nowrap
        .left
            .infobox
                h1
                    font-size: $small
                    line-height: $small
        .right
            section
                display: flex
                padding: 0 1rem 1rem 1rem

                h2
                    font-size: $xsmall
                    flex-basis: 20%
                    text-align: end
                    padding-right: 1rem

                p,
                ul
                    font-size: $xsmall
                    flex-basis: 80%
                    text-align: start

                ul> li> i
                        padding-bottom: .25rem
                        padding-right: .5rem
            .misc
                padding: 0 .5rem .5rem .5rem
                align-items: center