// Apple SF Font
@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

// Variables
@import variables

// Mixins
@import mixins

// Base Styles
html,
body
    +fullsize
    font-family: $font

a
    text-decoration: none

// Margin and padding reset for h1, h2, p and ul
body,
h1,
h2,
p,
ul
    +reset

// h1 & h2 font styling
h1
    font-size: 2rem

h2
    font-size: 1rem
    font-weight: 500

// Container for split page
.container
    +flex-row-nowrap
    +fullsize

    // Left half & Right half
    .left,
    .right
        flex-basis: 50%

    // Left Half
    .left
        +flex-column-nowrap
        overflow: hidden
        
        // Container for night mode button
        .button-container
            width: 2rem
            margin-top: .5rem
            margin-left: .5rem
            transform: rotate(180deg)

            // Night mode button styling
            .nightmode
            position: relative
            width: 4rem
            user-select: none

            .nightmode-checkbox
                display: none

            .nightmode-label
                display: block
                overflow: hidden
                cursor: pointer
                height: 2rem
                padding: 0
                line-height: 2rem
                border: .125rem solid #ffffff
                border-radius: 2rem
                background-color: inherit
                transition: background-color 0.3s ease-in
            
            .nightmode-label:before
                content: ""
                display: block
                width: 2rem
                margin: 0
                background: #FFFFFF
                position: absolute
                top: 0
                bottom: 0
                left: 2rem
                border: .125rem solid #E3E3E3 
                border-radius: 2rem
                transition: all 0.3s ease-in 0s 
            
            .nightmode-checkbox:checked + .nightmode-label
                background-color: $nightmode-primary
            
            .nightmode-checkbox:checked + .nightmode-label,
            .nightmode-checkbox:checked + .nightmode-label:before
                border-color: $background-color
            
            .nightmode-checkbox:checked + .nightmode-label:before
                left: 0
                
        // Information box styling
        .infobox
            +flex-column-nowrap
            +flex-center
            //animation: fadein 2s
            min-height: 90%
            width: 100%

            img
                width: 10rem
                height: 10rem
                border-radius: 50%
                padding-bottom: 1rem

            h1
                line-height: 2.5rem
                font-weight: 700

            a
                font-weight: 700
                margin-top: .5rem
                padding: .5rem 3rem
                border-radius: .25rem
                +hover-back-pulse

        .wrapper
            width: 27rem

        // Links to online profiles
        nav
            +flex-row-nowrap
            +flex-center
            +flex-end
            min-height: 5%
            width: 100%

            a
                +hover-grow
                font-size: 2rem
                padding-right: 1rem
                &:last-child
                    padding-right: 2rem

    // Right half
    .right
        +flex-column-nowrap
        +fullsize
        section
            display: flex
            padding: 0 2rem 1rem 2rem

            h2
                flex-basis: 20%
                text-align: end
                padding-right: 1rem

            p,
            ul
                flex-basis: 80%
                text-align: start

            ul
                list-style-type: none
                li
                    padding-bottom: .25rem
                i
                    padding-right: .5rem
                    
        .about
            margin-top: 3rem
            line-height: 1.75rem

        .experience-list
            +flex-column-nowrap

        .experience-item > p > span
            font-weight: 700
        
        .misc
            +flex-row-nowrap
            justify-content: space-between
            margin-top: auto
            padding: 0 1.5rem .5rem 1.5rem
            font-size: 1rem

            .misc-left:hover
                +hover-grow

// Night mode CSS
.left-light
    background-color: $primary-color
    a
        color: $text-color
    .infobox > a
        background-color: $background-color

.right-light
    background-color: $background-color
    section > h2,
    .fa-check-circle,
        color: $secondary-color
    
    .misc > a
        color: $text-color

    .misc > .misc-right:hover > span
        transition: .5s
        color: lighten($primary-color, 10%)

.left-night
    background-color: $nightmode-primary
    
    .infobox > div > h1
        color: $nightmode-text
    a
        color: $nightmode-text
    
    .infobox > a
        background-color: $nightmode-background

.right-night
    background-color: $nightmode-background
    
    section
        color: $nightmode-text
    
    section > h2,
    .fa-check-circle,
        color: $nightmode-secondary
    .misc > a
        color: $nightmode-text
    .misc > .misc-right:hover > span
        transition: .5s
        color: lighten($nightmode-secondary, 25%)

// Mobile breakpoint style
@media only screen and (max-width: 768px)
    .container
        +reset
        +flex-column-nowrap

        .left,
        .right
            flex-basis: 50%
            min-height: 100%

        .left
            .infobox
                min-height: 95%
                img
                    padding-top: 1rem
                h1
                    font-size: 1.5rem
                    padding: 0 3.25rem
                    text-align: start
            .wrapper
                padding: 0 1rem 0 1.5rem
            nav
                min-height: 5%
                a:last-child
                        padding-right: 1rem
        
        .right
            section
                padding: 0 .5rem 1rem .5rem
                +flex-row-nowrap

                ul,
                p
                    flex-basis: 80%
                    text-align: start

                h2
                    flex-basis: 20%
                    text-align: end
                    padding-right: .75rem
            ul> li> i
                padding-bottom: .25rem
                padding-right: .5rem
            .misc
                font-size: .75rem

// Tablet and bigger styling
@media only screen and (min-width: 1024px) and (max-width: 1440px)
    .container
        .right
            section
                display: flex
                padding: 0 2rem 1rem 2rem

                h2
                    flex-basis: 15%
                    text-align: end
                    padding-top: .25rem
                    padding-right: 1rem

                p,
                ul
                    flex-basis: 85%
                    text-align: start

                ul> li> i
                        padding-bottom: .25rem
                        padding-right: .5rem