@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
@-webkit-keyframes back-pulse-light {
  50% {
    background-color: #f67d7f;
  }
}
@keyframes back-pulse-light {
  50% {
    background-color: #f67d7f;
  }
}

@-webkit-keyframes back-pulse-night {
  50% {
    background-color: #6392f7;
  }
}

@keyframes back-pulse-night {
  50% {
    background-color: #6392f7;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "San Francisco", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
}

.container .left,
.container .right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
}

.container .left .button-container {
  width: 2rem;
  margin: .5rem 0 0 .5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  width: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .left .button-container .nightmode-checkbox {
  display: none;
}

.container .left .button-container .nightmode-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 2rem;
  padding: 0;
  line-height: 2rem;
  border: .125rem solid #ffffff;
  border-radius: 2rem;
  background-color: inherit;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.container .left .button-container .nightmode-label:before {
  content: "";
  display: block;
  width: 2rem;
  margin: 0;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2rem;
  border: .125rem solid #E3E3E3;
  border-radius: 2rem;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.container .left .button-container .nightmode-checkbox:checked + .nightmode-label {
  background-color: #0095ff;
}

.container .left .button-container .nightmode-checkbox:checked + .nightmode-label,
.container .left .button-container .nightmode-checkbox:checked + .nightmode-label:before {
  border-color: #f8f8f8;
}

.container .left .button-container .nightmode-checkbox:checked + .nightmode-label:before {
  left: 0;
}

.container .left .infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .left .infobox img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.container .left .infobox h1 {
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.container .left .infobox a {
  font-weight: 700;
  margin-top: .5rem;
  padding: .5rem 3rem;
  border-radius: .25rem;
}

.container .left .wrapper {
  padding: .5rem 0 0 .5rem;
}

.container .left nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding-bottom: .25rem;
}

.container .left nav a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  font-size: 2rem;
  padding-right: 1rem;
}

.container .left nav a:hover, .container .left nav a:focus, .container .left nav a:active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.container .left nav a:last-child {
  padding-right: 2rem;
}

.container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

.container .right section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem 1rem 2rem;
}

.container .right section h2 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: end;
  padding-right: 1rem;
}

.container .right section p,
.container .right section ul {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: start;
}

.container .right section ul li {
  padding-bottom: .5rem;
}

.container .right section ul i {
  padding-right: .5rem;
}

.container .right .about {
  margin-top: 3rem;
  line-height: 2rem;
}

.container .right .experience-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.container .right .misc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  padding: 0 2rem 1rem 2rem;
  font-size: 1rem;
}

.container .right .misc .misc-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.container .right .misc .misc-left:hover, .container .right .misc .misc-left:focus, .container .right .misc .misc-left:active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.container .right .misc .misc-left, .container .right .misc .misc-right {
  padding: 0 .5rem 0 .5rem;
}

.left-light {
  background-color: #ff383B;
}

.left-light a {
  color: #140101;
}

.left-light .infobox > a {
  background-color: #f8f8f8;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.left-light .infobox > a:hover, .left-light .infobox > a:focus, .left-light .infobox > a:active {
  -webkit-animation: back-pulse-light 2s linear infinite;
          animation: back-pulse-light 2s linear infinite;
}

.right-light {
  background-color: #f8f8f8;
}

.right-light section {
  background-color: #f8f8f8;
}

.right-light section > h2,
.right-light .fa-check-circle {
  color: #B50C0F;
}

.right-light .misc > a {
  color: #140101;
}

.right-light .misc > a > span {
  -webkit-transition: color .5s;
  transition: color .5s;
}

.right-light .misc > a:hover > span {
  color: #ff383B;
}

.left-night {
  background-color: #0095ff;
}

.left-night .infobox > div > h1 {
  color: #ffffff;
}

.left-night a {
  color: #ffffff;
}

.left-night .infobox > a {
  background-color: #15202B;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.left-night .infobox > a:hover, .left-night .infobox > a:focus, .left-night .infobox > a:active {
  -webkit-animation: back-pulse-light 2s linear infinite;
          animation: back-pulse-light 2s linear infinite;
}

.left-night .infobox > a:hover, .left-night .infobox > a:focus, .left-night .infobox > a:active {
  -webkit-animation-name: back-pulse-night;
          animation-name: back-pulse-night;
}

.right-night {
  background-color: #15202B;
}

.right-night section {
  color: #ffffff;
  background-color: #15202B;
}

.right-night section > h2,
.right-night .fa-check-circle {
  color: #0C52E8;
}

.right-night .misc > a {
  color: #ffffff;
}

.right-night .misc > a > span {
  -webkit-transition: color .5s;
  transition: color .5s;
}

.right-night .misc > a:hover > span {
  color: #0095ff;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .container .left,
  .container .right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-height: 100%;
  }
  .container .left .infobox img {
    height: 8rem;
    width: 8rem;
  }
  .container .left .infobox h1 {
    line-height: 1.5rem;
    font-size: 1.25rem;
  }
  .container .left nav a:last-child {
    padding-right: 1rem;
  }
  .container .right section {
    padding: 0 .5rem 1rem .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .container .right section ul,
  .container .right section p {
    font-size: 1rem;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    text-align: start;
  }
  .container .right section h2 {
    font-size: 1rem;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: end;
    padding-right: .5rem;
  }
  .container .right .misc {
    font-size: .75rem;
    padding: 1rem 0 1rem .25rem;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .container .left .infobox h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .container .right section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem 1rem 1rem;
  }
  .container .right section h2 {
    font-size: 1rem;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: end;
    padding-right: 1rem;
  }
  .container .right section p,
  .container .right section ul {
    font-size: 1rem;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    text-align: start;
  }
  .container .right section ul > li > i {
    padding-bottom: .25rem;
    padding-right: .5rem;
  }
  .container .right .misc {
    padding: 0 .5rem .5rem .5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */